// font imports
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

// global vars
$normalTextColor: #021417;
$fadedTextColor: #0214179c;
$backgroundColor: #fff;
$accentColor1: #afebf8;
$accentColor2: #8bd8f2;
$accentColor3: #6bc0ea;
$accentColor4: #66b2ec;
$accentColor5: #56a6e2;

$borderRadius: 5px;

// styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

*::selection {
  background: $accentColor4; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: $accentColor4; /* Gecko Browsers */
}

body {
  background-color: $backgroundColor;
  color: $normalTextColor;
  font-size: 62.5%;
}

textarea,
body,
input {
  font-family: 'Quicksand', sans-serif, Roboto, sans-serif;
}

.container {
  width: 85%;
  margin: auto;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2.2rem;
  color: $normalTextColor;
}

p.marg-bottom {
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2.7rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.5rem;
}

a {
  color: $normalTextColor;
  text-decoration: none;
}

.page-title {
  color: $normalTextColor;
  font-weight: normal;
  margin-top: 2rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}
