node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build
/server/build

# misc
/client/.env

server/config/default.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
