@import '../../App.scss';
.needs-margin-top {
  margin-top: 2rem;
}

.adventure-form {
  .drag-and-drop-container {
    margin: 3rem 0 1.5rem 0;
    p {
      font-size: 1.2rem !important;
    }
  }
  .date-picker-container {
    font-size: 1.5rem;
    text-align: center;

    .react-date-picker__wrapper {
      border-radius: $borderRadius;
      border: none;
      box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
      padding: 1rem 2rem;
    }

    .react-calendar button {
      font-family: $normalFont;
      color: $normalTextColor;
      font-size: 1rem;

      &.react-calendar__tile--active {
        background: $accentColor4;
      }
      &.react-calendar__tile--now {
        background: $accentColor1;

        &:hover {
          background: $accentColor2;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .contact-us-form {
    width: 90%;
  }
}

@media screen and (max-width: 625px) {
  .contact-us-form .custom-text-input,
  .contact-us-form .custom-text-area {
    width: 90%;
  }
}
